<div class="feedback-table-area">
  <table class="feedback-table" aria-label="Feedback table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Category</th>
      <th scope="col">Text</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Otto Lakk</td>
      <td>test@fujitsu.ee</td>
      <td>Patients portal, Microsoft SharePoint</td>
      <td>Feedback text</td>
    </tr>
    </tbody>
  </table>
</div>
